/* General Styles */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #fafafa;
}

a {
    text-decoration: none;
    color: #333;
}

/* cabeçalho */
header {
    background-color: #fafafa;
    border-top: 28px solid #2F2655;
    padding: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}



.top-bar {
    /* max-width: 1200px; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 110px;
}

.top-bar ul{
display: flex;
font-size: 16px;

}
.logo-container {
    display: flex;
    align-items: center;
    justify-content: center;
    
}

.logo {
    height: 5em;
    width: 100;
    display: flex;
    flex-wrap:wrap;
    /* margin-right: 10px; */
}

/* .fortaleza-logo {
    width: 1440;
    height: 501;
    top: -323px;
    left: -859px;

} */

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
}

nav li {
    margin-left: 20px;
}

nav a {
    font-weight: bold;
    color: #001f54;
}


.hero {
    border-top: 28px solid #CC1235;
    position: relative;
    text-align: center; 
    display: block;
}

.hero-image {
    
    width: 100%;
    display: block;
    margin: 0 auto; 
}

.hero-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); 
    color: white;
    padding: 20px;
    text-align: center;
}

.hero-content h2 {
    font-family: IBM Plex Sans Condensed;
    font-weight: 400;
    font-size: 24px;
    line-height: 26px;
    letter-spacing: 2%;
    text-align: center;

    
}

.hero-content p {
    font-family: IBM Plex Sans Condensed;
    font-weight: 500;
    font-size: 24px;
    line-height: 26px;
    letter-spacing: 2%;
    text-align: center;
    
}

/* Quem Somos Section */
.quem-somos {
    background-color: #e9e7f0;
    padding: 40px;
}

.quem-somos-content {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    gap: 30px;
}

.quem-somos-image {
    width: 70%;
}

.quemsomos img {
    width: 150%;
    display: block;
    border-radius: 5px;
    height: 512.3599853515625;
    top: 202px;
    left: -779px;

}

.quem-somos-text {
    
    left: -94px;
    width: 595;
    height: 191;
    top: 336px;
    left: -94px;
    font-family: Inter;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0%;


    

}

.quem-somos-text h2 {
    font-size: 2.5em;
    color: #e60013;
    margin-bottom: 20px;
    width: 298;
    height: 36;
    top: 248px;
    left: -94px;

}

.quem-somos-text p {
    font-size: 1.1em;
    line-height: 1.6;
    margin-bottom: 20px;
}

.saiba-mais-button {
    background-color: #001f54;
    color: #fff;
    padding: 10px 20px;
    border-radius: 5px;
    display: inline-block;
    font-weight: bold;
}


/* Eventos Section Styles */
.eventos {
    background-color: #001f54;
    padding: 40px;
    color: #fff;
    text-align: center;
}

.eventos h2 {
    font-size: 2.5em;
    margin-bottom: 30px;
}

.eventos-list {
    max-width: 800px;
    margin: 0 auto;
}

.evento-item {
    background-color: #1a2d5e;
    margin-bottom: 10px;
    border-radius: 5px;
    overflow: hidden; /* Hide content overflow */
}

.evento-item .evento-content {
    padding: 0 15px;
    font-size: 0.9em;
    line-height: 1.5;
    display: none; /* Initially hide content */
}

.evento-item.expanded .evento-content {
    display: block;
    padding: 15px;
}

.evento-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
    cursor: pointer;
}

.evento-header h3 {
    font-size: 1.2em;
    margin: 0;
    font-weight: normal;
}

.close-button,
.toggle-button {
    background-color: transparent;
    border: 1px solid #dc3838;
    color: #dc3838;
    border-radius: 50%;
    width: 25px;
    height: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1em;
    cursor: pointer;
}
/* Imagens Section Styles */
.imagens {
    background-color: #001f54;
    padding: 100px;
    color: #fff;
    text-align: center;
    width: 1240.7603759765625;
    height: 723.7056884765625;
    top: 2228px;
    left: -760px;

    

}

.imagens h2 {
    font-size: 2.5em;
    margin-bottom: 30px;
}

.imagens-grid {
    max-width: 1200px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;width: 1240.7603759765625;
    height: 723.7056884765625;
    top: 2228px;
    left: -760px;    
    
}

.imagens-grid img {
    width: 100%;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    object-fit: cover;
    height: 200px;
}


/* Sessão de Projetos */

.title-projeto {
    background-color: #fafafa;
}

.style-project {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.title-projeto img {
margin-top: 0.5em;
}

.title-projeto h2{
    color: #CC1235;
    margin-bottom: 2px;
    font-size: 3em;
}
.title-projeto p{
    text-align: center;
    width: 100%;
    margin-top: 2px;
    font-size: 24px;
    width: 100%;
}


/* Sessão de Cards do projeto */
.projects {
    background-color: #D9D9D9; 
    padding: 50px;
}
.projects-grid {
    max-width: 1200px;
    margin: 0 auto;
    display: block;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    
}

.projects-grid img {
    border-radius: 6px;
}

.card-container {
    display: flex;
    flex-wrap:wrap; 
    justify-content: space-between;
    gap: 30px;

    
}


/* Footer Styles */
footer {
    background-color: #001f54;
    color: #fafafa;
    padding-top: 5em;
    padding-bottom: 40px;
    /* padding: 40px 20px; */
}


.footer-content {
    max-width: 1200px;
    margin: 0 auto;
}

.footer-top {
    display: flex; 
    align-items: center;
    justify-content: space-around;
} 

 .footer-top p {
    font-size: 24px; 
    width: 506;
    height: 34;
    top: 4118px;
    left: -759px;

}

.footer-bottom {
    display: flex;
    flex-direction:column;
    justify-content: space-around;
    text-align: left;
    /* width: 30;
    height: 30;
    top: 4173px;
    left: -759px; */
}


.footer-section {
    width: 45%; 
    background: #000;
    display: block;
    
}

.footer-section h3 {
    margin-bottom: 15px;
    font-size: 1.3em;
    border-bottom: 1px solid #fff;
    padding-bottom: 5px;  
}

.footer-section ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.footer-section li {
    margin-bottom: 8px;
    font-family: Inter;
    font-weight: 800;
    font-size: 16px;
    line-height: 34px;
    letter-spacing: 6%;

}

.footer-section li a {
    color: #d41515;
}

.social-media {
    display: flex;
    gap: 15px;
}

.social-media img {
    width: 30px;
    height: 30px;
    width: 180.63063049316406;
    height: 100;
    top: 3984px;
    left: -759px;

}

.footer-logo {
    width: 14%;
    height: 100px; 
}

.footer-logo-fortaleza {
    width: 8%;
}  




















/* Responsive Design */
@media (max-width: 768px) {
    .top-bar {
        flex-direction: column;
        align-items: flex-start;
    }

    .logo-container {
        margin-bottom: 10px;
        justify-content: flex-start;
        width: auto;
    }

    .fortaleza-logo {
        margin-left: 0;
    }

    nav ul {
        flex-direction: column;
        align-items: flex-start;
    }

    nav li {
        margin: 5px 0;
    }

    .hero-content {
        position: relative; 
        top: auto;  
        left: auto;  
        transform: none;
        padding: 10px;
        text-align: center;
    }

    .hero-content h2 {
        font-size: 1.5em;
    }

    .hero-content p {
        font-size: 1em;
    }

    .quem-somos-content {
        flex-direction: column;
        text-align: center;
    }

    .quem-somos-image {
        width: 80%;
        margin-bottom: 20px;
    }

    .quem-somos-text {
        width: 100%;
    }

    .quem-somos-text h2 {
        font-size: 2em;
    }
    .eventos {
        padding: 20px;
    }

    .eventos h2 {
        font-size: 2em;
    }

    .imagens {
        padding: 20px;
    }

    .imagens h2 {
        font-size: 2em;
    }

    .imagens-grid {
        grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    }

    .imagens-grid img {
        height: 150px;
    }
    .projects {
        padding: 20px 10px;
    }

    .projects h2 {
        font-size: 2em;
    }

    .projects-grid {
        grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    }

   
    footer {
        padding: 20px 10px;
        text-align: center;
    }

    .footer-top {
        flex-direction: column;
        align-items: center;
        margin-bottom: 20px;
    }

    .footer-bottom {
        flex-direction: column;
        text-align: center;
        margin-top: 20px;  /* Separate bottom section on mobile */
    }

    .footer-section {
        width: 100%;
        margin-bottom: 20px;
    }

}